Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.4
python-dotenv==1.0.1

# Descomente a linha abaixo quando for conectar em PostgreSQL de verdade
# psycopg2-binary==2.9.9

# Descomente a linha abaixo se preferir MySQL
# PyMySQL==1.1.1
